*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    place-items: center;
    place-content: center;
    grid-gap: 15px;
}
.btn-group{
    display: flex;
    gap: 10px;
}
.color{
    background-color: rgb(54, 120, 54) ;
    background-color: rgb(233, 79, 79);
    background-color: rgb(237, 237, 101);
}
.dec{
    border: 2px solid red;
}
.res{
    border: 2px solid yellow;
}
.inc{
    border: 2px solid blue;
}
.ad{
    border: 2px solid black;
    padding: 20px;
}
marquee{
    color: royalblue;
}
button{
    background-color: black;
    color: aliceblue;
    width: 10rem;
}